
a{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 0.625rem 1.25rem;
    text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}

body{
    margin: 0;
   text-align: center;
   font-family: 'Merriweather', serif;
   color: #40514E;
}
h1{
    margin-block-start: 0;
    margin-block-end: 0;
    color: #66BFBF;
    /* display: inline-block; */
   margin: 0rem auto 0rem auto;
   font-family: 'Sacramento', cursive;
   font-size: 4rem;
   line-height: 2.5rem;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #66bfbf;
    font-weight: normal;
    padding-bottom: 0.625rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
    
}
hr{
    border: dotted #eaf6f6 6px;
    width: 5%;
    border-bottom: none;
    border-radius: 0.625rem;
    margin: 6.25rem auto;
}
p{
    line-height: 2;
}
.bottom-cloud{
    height: 3rem;
    width: 9.375rem;
    position: absolute;
   left: 15.625rem;
   bottom: 18.75rem;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 3.125rem 0 1.25rem;
}
.chilli-image{
    width: 30%;
    float: right;
    margin:0 0 0 1.56rem;
}
.code-image{
    width: 25%;
    float: left;
    margin: 0.625rem 1.7rem 0 0;
}
.contact-me{
    margin-bottom: 3.125rem;
  }
  
.contact-message{
    width: 50%;
    margin: 2.5rem auto 3.75rem;
}
.intro{
    width: 28%;
    margin: auto;
   
}
.middle-container{
    margin: 6.25rem 0;
}
.mountain{
    height:22.3125rem ;
    width: 37.375rem;
}
.pro{
    text-decoration: underline;
}
.programmer{
    font-size: 1.5rem;
}
.skill-row{
    width: 50%;
    /* display: inline-block; */
    margin: 4.69rem auto ;
    text-align: left;
    line-height: 1.5;
}
.top-cloud{
    height: 3rem;
    width: 9.375rem;
    position:absolute;
    right: 18.75rem;
    top: 2.5rem;
    
}
.top-container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 6.25rem;

}
#ankit{
    color: #EAF6F6;
    font-size: 0.8rem;

}
.btn {
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
        background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
        background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
        background-image: -o-linear-gradient(top, #11cdd4, #11999e);
        background-image: linear-gradient(to bottom, #11cdd4, #11999e);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        background: #3498db;
        padding: 0.625rem 1.25rem 0.625rem 1.25rem;
        text-decoration: none;
      }
      
.btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
      }
      

